<div class="
     container mx-auto 
     bg-white rounded
     w-[40%] 
     p-10 flex flex-col items-center justify-center gap-5">
  <h1 class="text-3xl font-extrabold text-indigo-500">Welcome to the App</h1>
  <a href="/users/sign_in" class="bg-indigo-500 text-white px-6 py-3 rounded block w-full text-center">Login</a>
</div>